# Dependency directories
node_modules/
backend/node_modules/
frontend/node_modules/

# Production build outputs
frontend/dist/
backend/dist/

# Local env files
.env
backend/.env
frontend/.env

# OS/Editor files
.DS_Store
.vscode/
.idea/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Database files
*.db
*.sqlite
